<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" routerLink="/">Whiteboard</a>
    <button (click)='toggleNavbar()' class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{ 'show' : navbar }" class="collapse navbar-collapse mr-2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a (click)='profile()'class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a (click)='quiz()'class="nav-link">Quizzes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://whiteboard-react-chasebish.herokuapp.com/">React Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://whiteboard-server-chasebish.herokuapp.com/">Java Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://whiteboard-node-chasebish.herokuapp.com/">Node Server</a>
            </li>
        </ul>
    </div>
    <div *ngIf='!user.username' class="btn-group-justified ml-auto">
        <button (click)='register()' class="btn btn-outline-success mr-2">
            Register
        </button>
        <button (click)='login()' class="btn btn-outline-info">
            Login
        </button>
    </div>
    <div *ngIf='user.username' class="btn-group-justified ml-auto">
        <button (click)='logout()' class="btn btn-outline-danger mr-2">
            Logout
        </button>
    </div>
</nav>