<div class='container-fluid'>
    <h1>Welcome to Whiteboard</h1>
    <nav>
        <a routerLink="/">
            Home
        </a>
        |
        <a routerLink="/section">
            Sections
        </a>
        |
        <a routerLink="/enrollment">
            Enrollments
        </a>
        |
        <a routerLink="/course">
            Course Navigator
        </a>
        |
        <a routerLink="/register">
            Register
        </a>
        |
        <a routerLink="/login">
            Login
        </a>
        |
        <a routerLink="/profile">
            Profile
        </a>
    </nav>

    <router-outlet></router-outlet>
</div>