<div>
    <h2>Home</h2>
    <div class="row">
        <div *ngFor="let course of courses" class="col-xl-3 col-lg-4 col-md-6 mt-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">{{course.title}}</h5>
                    <p class="card-text"></p>
                    <div class='btn-toolbar'>
                        <a routerLink="/course/{{course.id}}" class="btn btn-info mr-1">View</a>
                        <a routerLink="/course/{{course.id}}/sections" class="btn btn-info ml-1">Sections</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>